@page
@model WonPageModel

@{
    ViewData["Title"] = "GameWon";
}



<p class="text-center text-4xl font-extrabold mb-10 tracking-normal leading-loose text-pink-900">Player @Model.winnerName has won the game</p>